.bigproduct {
  display: flex;
  height: 75vh;
}

.bigproduct__left {
  margin: 1rem;
}

.bigproduct__image {
  margin: 1rem;
}

.bigproduct__right {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.bigproduct__title {
  font-size: 4rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #111;
  padding: 1.3rem 0;
  width: 50%;
}

.bigproduct__price {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.bigproduct__amount {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.bigproduct__quantity {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.bigproduct__info {
  font-size: 1.2rem;
  width: 35%;
  margin-bottom: 3.2rem;
}

.bigproduct__input span {
  padding-bottom: 1rem !important;
}

.bigproduct__addToCart {
  border: 2px solid #000000;
  width: 8vw;
  padding: 0.7rem 0.4rem;
  font-size: 1.3rem;
  font-weight: 5  00;
  color: #111111;
  border-radius: 1.5rem;
  justify-content: center;
  display: flex;
}

.bigproduct__addToCart:hover {
  background: #0eb11b;
  border-color: #0eb11b;
  color: #fff;
  cursor: pointer ;
}