.info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.info__comp {
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.info__lights {
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.info__wifi {
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.info__quality {
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.info__compInfo {
  font-size: 22px;
  align-items: center;
}