.info {
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem 0;
}

.info ul {
  list-style-type: none;
}

.info__title {
  display: flex;
  font-size: 3.5rem;
  font-weight: 700;
  justify-content: center;
  margin: 4rem 0;
}

.info__reason {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.info__reasonLeft {
  font-size: 3rem;
  font-weight: 600;
  margin: 1.3rem 0;
}

.info__reasonRight{

}

.info__icon {
  font-size: 3rem !important;
  margin: 1.3rem 0;
}