.productcard {
  display: flex;
  margin: 1rem;
}

.productcard__card {
  height: 30rem;
  width: 18.7rem;
  border-radius: 10px;
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #111;
}

.productcard__card:hover {
  background: #ffffff;
  border-radius: 15px;
  border: 4px solid #ffffff;
}

.productcard__cardImage {
background-color: #f9f9f9;
height: 18rem;
border-radius: 13px;
}

.productcard__cardTitle {
  font-size: 1.7rem;
  margin-bottom: 13px;
}

.productcard__cardInfo {
  font-size: 1rem;
  margin: 0 2rem;
}

.productcard__bottom {
  display: flex;
  position: relative;
  top: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.8rem;
}