.productcard {
  display: flex;
  margin: 1rem;
}

.productcard__card {
  height: 30rem;
  width: 18.7rem;
  border-radius: 5px;
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #111;
  background: #ffffff;
  border: 3px solid #ffffff;
}

.productcard__cardImage {
  background-color: #f9f9f9;
  height: 18rem;
  width: 17rem;
  border-radius: 8px;
  margin: 0 0.8rem;
}

.productcard__cardTitle {
  font-size: 1.7rem;
  margin-bottom: 13px;
}

.productcard__cardInfo {
  font-size: 1.2rem;
  margin: 0.3rem 2rem;
  color: #111111;
}

.productcard__bottom {
  display: flex;
  position: relative;
  top: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.8rem;
}

.productcard__button {
  cursor: pointer;
  margin: 0.6rem 1.9rem;
  padding: 0.8rem;
  width: 80%;
  font-size: 1.05rem;
  font-weight: 500;
  color: #000000;
  outline: none;
  border: none;
  border: 1px solid #111111;
  background-color: #ffffff;
}
.productcard__button:hover {
  font-size: 1rem;
  color: #ffffff;
  background: #08a05c;
  border-color: #08a05c;
  transition: 0.1s linear;
}
