.productbig {
  background: #111;
  color: #ffffff;
  justify-content: center;
}

.productbig__topImage {
  background: url("https://images.unsplash.com/photo-1489549132488-d00b7eee80f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
  height: 32vh;
}

.productbig__topImageTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  padding-top: 3rem;
}

.productbig__topImageText {
  display: flex;
  justify-content: center;
  font-size: 5.7rem;
  margin: 1rem;
}

.title {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin: 2rem;
  font-weight: 800;
}
.productbig__topImageTextTwo {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 1rem;
}

.productbig__reasons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productbig__reasonsinfo {
  width: 30vw;
  font-size: 1.2rem;
  margin: 2rem auto;
  display: flex;
  padding: 1.5rem;
  background: #000000;
}

.productbig__easy {
  height: 42vh;
  display: flex;
  flex-direction: column;
}

.productbig__wifi {
  display: flex;
  flex-direction: column;
  /* background: url("https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"); */
  height: 42vh;
}

.productbig__controller {
  /* background: url("https://images.unsplash.com/photo-1583267926025-393ef3e5f878?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"); */
  height: 42vh;
  display: flex;
  flex-direction: column;
}
.productbig__water {
  /* background: url("https://images.unsplash.com/photo-1492557724230-0399016348c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80"); */
  height: 42vh;
  display: flex;
  flex-direction: column;
}

.productbig__color {
  height: 42vh;
  display: flex;
  flex-direction: column;
}
.productbig__cart {
  height: 30vh;
  display: flex;
  flex-direction: column;
}

.productbig__Image {
  height: 50rem;
  margin: 2rem;
}

.productbig__info {
  display: flex;
}

.productbig__right {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 50%;
}

.productbig__cardInfo {
  font-size: 2rem;
  padding-top: 1rem;
}

.productbig__button {
  background: #338163;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.6rem;
  margin: 1rem 0;
  border: none;
  cursor: pointer;
}

.productbig__button:hover {
  background: #1da571;
}
