.shop {
  display: flex;
  flex-direction: column;
  margin: 3rem 1rem;
  height: 57vh;
}

.shop__bottom {
  display: flex;
}

.shop__left {
  flex: 0.2;
}

.shop__right {
  flex: 0.8;
  display: flex;
}

.shop__sidebar {
  flex: 0.3;
}

.shop__imgMediaCards {
  flex: 0.7;
  display: flex;
}

.shop__imgMediaCard {
  margin: 2rem !important;
  padding: 2rem !important;
}

.shop__title {
  font-size: 40px;
  font-weight: 700;
  justify-content: center;
  display: flex;
  margin: 2rem;
}
