.sidebar {
  flex-direction: column;
  margin: 1rem;
  list-style-type: none;
  width: 90%;
  height: 26vh;
  border-radius: 15px;
  background: #fff;
}

.sidebar__types li{
  list-style-type: none;
}

.sidebar__title {
  font-size: 30px;
  margin: 1rem;
  font-weight: 700;
  border-bottom: 4px solid #111;
  padding: 1rem;
}

.sidebar__types {
  font-size: 20px;
  margin-bottom: 1rem;
  font-weight: 500;
}