.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none !important;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav__logo {
  font-size: 1.6rem;
  text-decoration: none !important;
  color: #111111;
}

.nav__logoText {
  color: #111111;
  font-weight: 500;
}

.nav__links{
  display: flex;
  justify-content: space-around;
}

.nav__link {
  font-size: 1.2rem;
  margin-right: 2rem;
  font-weight: 600;
  color: #111111;
}

.nav__icons{
  display: flex;
  align-items: center;
  justify-content: center ;
}

.nav__searchInput {
  height: 20px;
  padding: 15px;
  border: none;
  width: 100%;
  background-color: #f1f1f1;
  outline: none;
  margin: 1rem 1rem 1rem 0;
  border-radius: 5px;
  position: relative;
  right: 10px;
  font-size: 1.2rem;
  font-weight: 900;
}
.nav__searchInput::placeholder {
  color: #111111;
  font-size: 1.2rem;
  font-weight: 490;
}

.nav__search {
  display: flex;
  flex: 0.9;
}

.nav__searchIcon {
  background-color: #f1f1f1;
  padding: 0.8rem;
  height: 1rem;
  margin-left: 19px;
  margin: 1rem 0;
  border-radius: 5px;
  font-weight: 900;
}

.nav__shoppingBasketIcon {
  margin-right: 1.5rem;
  margin-left: 1rem;
  color: #111111 !important;
}

.nav__accountBoxIcon {
  margin-right: 1.5rem;
  margin-left: 1rem;
  color: #111111 !important;
}

.nav__iconsSide {
  display: none;
  outline: none;
  background: #ffffff;
  border: none;
  cursor: pointer;
}

.open {
  display: flex;
  position: absolute;
  background: #111111;
  height: 100vh;
  top: 0;
  right: 0;
  width: 40%;
  padding: 80px 50px;
  transition: 0.3s linear;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.nav__sideNav {
  display: flex;
}
.closed {
  transform: translateX(-100%);
}

/* @media screen and (max-width: 830px) {
  .big {
    display: none;
  }
} */
/* 
.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}
.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;

  right: 9.5rem;
  top: 1.5rem;
}

.categories {
  padding: 0;
  list-style-type: none;
}
.categories a {
  display: flex;
  padding: 1rem;
}

.categories a:hover {
  background-color: #c0c0c0;
} */