.account {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 4rem 0;
  align-items: center;
}

.account__bottom {
  display: flex;
}

.account__left {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.account__update {
  font-size: 1rem;
  font-weight: 400;
}

.account__details {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
  padding-bottom: 1rem;
}

.account__right {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  border-left: 2px solid #111111;
}

.account__history {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.9rem;
}

.account__name {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.account__addressTitle {
  margin-bottom: 2rem;
}

.account__addressTitle {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.account__email {
  display: flex;
  flex-direction: column;
  padding-right: 4rem;
}

.account__logout {
  margin: 2rem 0;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: 2px solid #111;
  background: #111111;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.account__or {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 660px) {
  .account {
    flex-wrap: wrap;
    margin: 1rem 1rem;
  }

  .account__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .account__right {
    display: flex;
    flex-direction: column;
    padding: 0;
    border-left: none;
  }

  .account__name {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .account__addressTitle {
    margin-bottom: 2rem;
  }

  .account__logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1rem;
    border: 2px solid #111;
    background: #111111;
    color: #fff;
    width: 100%;
    cursor: pointer;
    outline: none;
  }
}
