.canceled {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem 0;
}

.canceled__big {
  font-size: 4rem;
  margin: 2rem 0;
}

.canceled__small {
  font-size: 2rem;
  margin: 2rem 0;
}

.canceled__icon {
  font-size: 4rem !important;
  margin: 2rem 0;
}

.canceled__link {
  color: #1e4eb6;
  font-size: 1.4rem;
}
