.homescreen {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 70vh;
  background: url("https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80")
    no-repeat bottom;
  background-size: cover;
}

.homescreen__info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.homescreen__button {
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

.homescreen__logoInfo {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.homescreen__buttonField {
  color: #ffffff;
  border: 3px solid #ffffff;
  background: transparent;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  font-size: 1.7rem;
  font-weight: 600;
  align-items: center;
  transition: 0.3s linear;
}

.homescreen__logo {
  font-size: 4rem;
  padding: 1.5rem 3rem;
  border-radius: 5px;
  color: #ffffff;
}

.homescreen__buttonField:hover {
  background: #ffffff;
  color: #111111;
}
@media screen and (max-width: 780px) {
  .homescreen__logo {
    font-size: 3.6rem;
  }
  .homescreen__logoInfo {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 710px) {
  .homescreen__logo {
    font-size: 3rem;
  }
  .homescreen__logoInfo {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 680px) {
  .homescreen__logo {
    font-size: 2.7rem;
  }
  .homescreen__logoInfo {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 630px) {
  .homescreen__logo {
    font-size: 2.4rem;
  }
  .homescreen__logoInfo {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 600px) {
  .homescreen {
    height: 60vh;
  }

  .homescreen__logoInfo {
    font-size: 1.35rem;
  }

  .homescreen__logo {
    font-size: 1.72rem;
  }
}
