.login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__form {
  width: 20rem;
  background: #f1f1f1;
  padding: 1rem 2rem;
}

.logo__code {
  display: flex;
  justify-content: center;
  height: 3rem;
  text-align: center;
}

.logo__code img {
  height: 3rem;
}

.login__textbox {
  width: 100%;
  height: 1rem;
  position: relative;
  margin: 2.7rem 0;
}

.login__check-message {
  position: absolute;
  top: 50%;
  right: 1rem;
  color: #000000;
  text-transform: uppercase;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}

.login__textbox input {
  width: 94.7%;
  height: 2.7rem;
  border: none;
  padding-left: 1rem;
  background: #ffffff;
  font-size: 1rem;
  outline: none;
  color: #000000;
}

.login__textbox input:focus {
  background: #cdcdcd !important;
}

.login__options {
  margin-top: 3.5rem;
  color: #00000080;
  overflow: hidden;
  font-size: 1rem;
}

.login__remember-me {
  float: left;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.9rem;
}

.login__checkbox {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: #000000;
  margin-right: 1.5rem;
  position: relative;
}

.login__checkbox input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  padding: 1rem;
}

.login__checked {
  position: absolute;
  top: -0.01rem;
  left: 0.35rem;
  width: 0.25rem;
  height: 0.7rem;
  border: solid #fff;
  border-width: 0 0.1rem 0.1rem 0;
  transform: rotate(45deg);
  display: none;
  color: #000000;
}

.login__checkbox input:checked + .login__checked {
  display: block;
}

.login__options a {
  color: #00000080;
  font-size: 0.9rem;
  float: right;
}

.login__login-btn {
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  background: #000000;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.3s linear;
  color: #ffffff;
}

.login__login-btn.active {
  background: #035dac;
  color: #000000;
}

.login__login-btn.active:hover {
  opacity: 0.7;
}

.login__section {
  padding: 0.5rem 0;
  margin: 1rem 0;
}

.login__or p {
  display: flex;
  justify-content: center;
  margin: 0.3rem;
}

.login__google-button {
  padding: 1rem 0;
  color: #f1f1f1;
  background-color: #de5246;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
  width: 100%;
  display: flex;
}

.fa-google {
  margin-right: 0.25rem;
}

.login__privacy-link a {
  color: #000000;
  font-size: 0.7rem;
}

.login__privacy-link {
  text-align: center;
  margin-top: 1rem;
}

.login__dont-have-account {
  font-size: 0.9rem;
  text-align: center;
  color: #00000080;
  margin: 1rem 0;
}

.login__dont-have-account a {
  color: #035dac;
}

.login__form h6 {
  display: flex;
  justify-content: center;
  color: #000000;
  font-size: 2.7rem;
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: 1px solid #111111;
}
