.shop {
  display: flex;
  flex-direction: column;
  margin: 3rem 1rem;
  height: 90vh;
  align-items: center;
}

.shop__bottom {
  display: flex;
}

.shop__left {
  flex: 0.2;
}

.shop__sidebar {
  flex: 0.3;
}

.shop__imgMediaCards {
  flex: 0.7;
  display: flex;
}

.shop__imgMediaCard {
  margin: 2rem !important;
  padding: 2rem !important;
}

.shop__title {
  font-size: 40px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.shop__titleTwo {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.shop__arrow {
  display: flex;
  justify-content: center;
  font-size: 1rem !important;
  margin: 1rem;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .shop__title {
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }
  .shop__titleTwo {
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  .shop__arrow {
    display: flex;
    justify-content: center;
    font-size: 1rem !important;
    margin: 1rem;
    color: #000000;
  }
}
